<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="images/iconos/facebook.png" width="32" height="32">
            <p><a href="{{ companyInfo.facebook }}" target="_blank">Siguenos en:<br>Facebook</a></p>
        </li>
        <li>
            <img src="images/iconos/linkedin.png" width="32" height="32">
            <p><a href="{{ companyInfo.linkedin }}" target="_blank">Siguenos en:<br>LinkedIn</a></p>
        </li>
        <li>
            <img src="images/iconos/sobre.png" width="32" height="32">
            <p><a href="mailto:{{ companyInfo.email }}" target="_blank">Envianos un<br>Email</a></p>
        </li>
        <li>
            <img src="images/iconos/telefono.png" width="32" height="32">
            <p><a href="tel:{{ companyInfo.pachucaPhone }}" target="_blank">Contactanos por:<br>Teléfono</a></p>
        </li>
    </ul>
</div>