body{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    color: #696771;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e2dfdf;
}
footer{
    background-image: url(/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
}
.component_form input[type=text]{
    background-color: #F8F8F8;
    border-color: transparent;
    border-radius: 4px;
}
.component_form input[type=email]{
    background-color: #F8F8F8;
    border-color: transparent;
    border-radius: 4px;
}
.component_form label{
    color: #292735;
}
.ciesc-blue{ 
    color: #111A2B;
}
.ciesc-bg-blue{
    background-color: #111A2B;
}
.w-95{
    width: 95%;
}
.service_card__link::after{
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ff5722;
    bottom: -.5rem;
    position: absolute;
    left: 0;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  .home__service_card{
    height:376px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
.fb-color{
    color: #067AEB;;
}
.ld-color{
    color: #2967B2;
}
.tw-color{
    color: #1DA1F2
}
.prim-color{
    color: #ff5722;
}
.active{
    color: #ff5722 !important;
}
.prim-bg{
    background-color: #ff5722;
}
.prim-btn{
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
}
.prim-btn:hover{
    transition: .3s ease;
    background-color: #3A3F47;
}
.special-btn{
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border: 2px solid #ff5722;
}
.special-btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
    transition: .3s ease-out;
}
.mwc{
    max-width: 75rem;
}
.nav-link{
    color: #848484;
    text-decoration: none;
}
.nav-link:hover{
    color: #ff5722;
    transition: .4s;  
}
.home-hero{
    background-image: url(/images/main-bg.webp);
    background-size: cover;
    background-position: center; 
}
.h-card-s-wrapper{
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}
.h-service-card::before{
    width: 130px;
    height: 100%;
    background-color: #ff5722;
    position: absolute;
    content:"";
    z-index: 0;
    top: 0;
    right: 0;
    border-bottom-left-radius:140px;
    border-top-right-radius:.5rem;
    border-bottom-right-radius:.5rem;
}
.s-title::after{
    margin-top: 1rem;
    width: 50px;
    height: 3px;
    content:"";
    display: block;
    background-color: #ff5722;
}
.services-hero{
    background-image: url(/images/services-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.about-us-hero{
    background-image: url(/images/nosotros-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blog-hero{
    background-image: url(/images/blog-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.lh-loose{
    line-height: 2;

}
.contact-hero {
    background-image: url(/images/contacto-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ciesc-input{
    background-color: #f0f8ff;
    border-radius: 5px;
    padding: 1rem;
    border: transparent;

}
.form-card{
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}
.service-detail-main{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.service-mask{
    background-color: rgb(7 8 45 / 68%);
}
.service-body h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
    color: #001b44;
}
.service-body p{
 line-height: 2;
 text-align: justify;
}
.service-body ul li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0rem;
    line-height: 1.5;
    color: #848484;
}
.service-body ol li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0rem;
    line-height: 1.5;
    color: #848484;
}
.service-body a{
    color: #ff5722;
    text-decoration: none;
}
.contact-banner{
    background-color: #ff5722;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ff5722 40px ), repeating-linear-gradient( #ff754655, #ff7546 );
}