{% extends 'partials/layout' %}
{% block title %} Aviso de privacidad | {{ siteName }}{% endblock %}
{% block metas %}
    
    <meta content="Aviso de privacidad | {{ siteName }}" property="og:title"/>
    <meta content="GRUPO CIESC está comprometido en manejar los datos personales que usted proporcione de conformidad con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDP), " name="description">
    <meta content="GRUPO CIESC está comprometido en manejar los datos personales que usted proporcione de conformidad con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDP), " property="og:description">
    <meta property="og:image" content="">
	<meta property="og:url" content="{{siteUrl}}">
	<meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}

        {% include 'partials/nav' %}
 

    <div class="mw8 center ph3 pv4">

        <h1 class="ciesc-blue">Política de privacidad de Datos Personales</h1>
        <h2>Grupo CIESC</h2>

        <p class="tj lh-copy"><strong>GRUPO CIESC (en lo subsecuente, para efectos del presente aviso)</strong> con Domicilio en Blvd. Ramon G. Bonfil 1513, Col. Real de Medinas, Pachuca de Soto, Hgo. C.P. 42086, como parte de los procesos de asesoría en materia fiscal contable y capital humano solicita a sus clientes alguna información de carácter personal y se hace responsable de usar los mismo exclusivamente para las finalidades previstas en el presente Aviso de Privacidad. En caso de que sea necesario utilizar los datos para un fin distinto, se le requerirá previamente por escrito, su consentimiento.</p>
        <p class="tj lh-copy"><strong>GRUPO CIESC</strong> está comprometido en manejar los datos personales que usted proporcione de conformidad con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDP), observando en todo momento los principios de licitud, consentimiento de información, calidad, finalidad, lealtad y proporcionalidad previstos en la LFPDP y conforme al presente Aviso de Privacidad.</p>
        <p class="tj lh-copy">El uso de datos personales comprende cualquier acción de acceso, manejo, almacenamiento, aprovechamiento, divulgación, transferencias o disposición de sus datos personales proporcionados por cualquier medio.</p>
        <p class="tj lh-copy">Su información personal será utilizada para las siguientes finalidades:</p>
        <p class="tj lh-copy"><strong>GRUPO CIESC</strong> requiere utilizar sus datos personales para incluirlo en la base de datos que es utilizada por <strong>GRUPO CIESC</strong> para prestar los servicios de asesoría, auditoria de impuestos, impuestos corporativos, seguridad social, tercerización de personal y Prevención de Lavado de Dinero (PLD). <strong>GRUPO CIESC</strong> requiere sus datos personales para evaluar la situación de su empresa para realizar las mejoras correspondientes, valorar si está calificado para desempeñar un puesto o función y para comunicarnos con usted en relación con los procesos de selección, llevar acabo informes estadísticos internos, estrategias laborales que permitan aumentar y mejorar la productividad de su organización, efectuar las obligaciones derivadas de la relación laboral que llegue a existir o exista con Usted, realizar pruebas psicométricas, análisis de sus estados financieros y movimientos contables fiscales dentro de la empresa, alta en el seguro social y otros servicios para incluirlos en las finanzas de <strong>GRUPO CIESC</strong> el cumplimiento de las disposiciones del contrato de trabajo que Usted consienta con <strong>GRUPO CIESC</strong>, así como todas aquellas disposiciones requeridas por la Ley Federal del Trabajo y demás leyes aplicables a relación de trabajo con <strong>GRUPO CIESC</strong>, para dar referencias laborales de usted, así como para dar cumplimiento a las actividades requerida para la administración, gestión de su puesto de trabajo y prestaciones laborales, utilizaremos sus datos personales para fines administrativos y para cumplir con cualquier obligación legal.</p>
        <p class="tj lh-copy"><strong>TRANSFERENCIA DE SUS DATOS PERSONALES.</strong> Le informamos que sus datos personales son compartidos dentro de GRUPO CIESC y a sus clientes a los que preste servicios, para los fines de dar cumplimiento a actividades administrativas requeridas al interior y referente a la prestación de servicios a nuestros clientes.</p>
        <p class="tj lh-copy"><strong>CAMBIOS O MODIFICACIONES EN EL AVISO DE PRIVACIDAD. GRUPO CIESC</strong> podrá modificar, cambiar o actualizar el presente aviso de privacidad derivado de nuevos requerimientos legales, de nuestras propias necesidades por los servicios que ofrecemos, de nuestras prácticas de privacidad, de cambios a nuestro modelo de negocio o por otras causas. <strong>GRUPO CIESC</strong> se compromete en mantenerle informado sobre los cambios, modificaciones o actualizaciones al Aviso de Privacidad.</p>
        <p class="tj lh-copy"><strong>GRUPO CIESC</strong> notificará de cualquier cambio, modificación o actualización al Aviso de Privacidad mediante su página de internet <u>contacto@grupociesc.com</u>, <strong>GRUPO CIESC</strong> hará dicha notificación con quince días de anticipación a la fecha en que los cambios modificaciones o actualizaciones del Aviso de Privacidad tenga lugar. En caso de cambio, modificación o actualización al presente Aviso de Privacidad, aparecerá un apartado con este Título en nuestra página de internet.</p>
        <p class="tj lh-copy"><strong>DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES DE GRUPO CIESC.</strong> El Departamento de protección de datos personales de </trong>GRUPO CIESC</strong> está encargado de atender las peticiones de ejercicio de los Derechos ARCO, de solicitudes de renovación de consentimiento, de negativa para utilización de datos personales para finalidades secundarias, así como de soluciones para limitar el uso y/o divulgación de sus datos personales, así como para velar por la protección de dichos datos personales al interior de <strong>GRUPO CIESC.</strong></p>
        <p class="tj lh-copy"><strong>DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES DE GRUPO CIESC.</strong> El Departamento de protección de datos personales de </trong>GRUPO CIESC</strong> está encargado de atender las peticiones de ejercicio de los Derechos ARCO, de solicitudes de renovación de consentimiento, de negativa para utilización de datos personales para finalidades secundarias, así como de soluciones para limitar el uso y/o divulgación de sus datos personales, así como para velar por la protección de dichos datos personales al interior de <strong>GRUPO CIESC.</strong></p>
        <p class="tj lh-copy"><strong>DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES DE GRUPO CIESC.</strong> El Departamento de protección de datos personales de </trong>GRUPO CIESC</strong> está encargado de atender las peticiones de ejercicio de los Derechos ARCO, de solicitudes de renovación de consentimiento, de negativa para utilización de datos personales para finalidades secundarias, así como de soluciones para limitar el uso y/o divulgación de sus datos personales, así como para velar por la protección de dichos datos personales al interior de <strong>GRUPO CIESC.</strong></p>
        <p class="tj lh-copy"><i>Nombre: Departamento de Protección de Datos Personales de GRUPO CIESC
            Dirección: Blvd. Blvd. Real del Valle 401, Fracc. Real del Valle, Pachuca de Soto, Hgo. C.P. 42086
            Correo electrónico: <u>contacto@grupociesc.com</u>
            Horario de Atención: Lunes a Viernes de 9:00 a 18:00 y Sábados de 9:00 a 13:00
        </i></p>

    </div>


    {% include 'partials/footer' %}
{% endblock %}